.card__face--front h2 {
  text-transform: uppercase;
}
.card__body h3 {
  font-family: monospace;
  text-align: center;
  font-size: clamp(1rem,1vw,2rem);
}
.card__body ul {
  list-style: none;
  font-family: monospace;
  text-align: center;
  font-size: clamp(2rem,1vw,2rem);
}