/* para dispositvos superiores al 1024px monitores y portatiles */
@media screen and (min-width: 1024px) {
    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .LOGO {
        font-size: clamp(1rem, 4vw, 4rem);
        text-align: start;
        margin-left: 1em;

    }

    .LOGO.visible {
        animation: tracking-in-contract .8s linear both
    }


    @keyframes tracking-in-contract {
        0% {
            letter-spacing: .6em;
            opacity: 0
        }

        40% {
            opacity: .6
        }

        100% {
            letter-spacing: normal;
            opacity: 1
        }
    }

    .menu-toggle {
        display: none;
    }

    .navbar {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0rem 2rem 0rem 0rem;
    }

    .navbar-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        font-family: monospace;
        text-align: center;
    }

    .navbar-list li a {
        font-size: clamp(1rem, 2vw, 2rem);
    }

    .navbar-list li a:hover {
        color: #A82272;
        text-decoration: none;
    }

    /* estilos para el contenido principal */
    .main-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);

    }

    /* herosection */
    .presentacion img {
        width: 20%;
        height: auto;
        border: 3px solid #A82272;
        border-radius: 0px 5px 200px 200px;
        padding: 0;
    }

    #presentacion__texto {
        font-size: clamp(1rem, 1vw, 2rem);
        padding: 0;
        margin: 0;
    }

    /* servicios */
    .contenedor-servicios {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .carrusel-servicios {
        height: 90%;
        width: 90%;
    }

    @keyframes blur-in {
        0% {
            filter: blur(12px);
            opacity: 0
        }

        100% {
            filter: blur(0);
            opacity: 1
        }
    }

    .items {
        display: flex;
        flex-direction: row;
    }

    .card {
        height: 100vh;
        width: 100vw;
    }

    .card__face--front img {
        width: 75%;
        height: 75%;
        object-fit: contain;
        aspect-ratio: 1/1;
    }

    .card__header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0.5rem 0rem;
    }

    .card__header img {
        margin: 0;
    }

    .card__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    .card__body h3 {
        font-size: 1rem;
        margin: 1rem 0rem;
    }

    .card__body ul li {
        font-size: clamp(1rem, 1vw, 1rem);
    }

    .contenedor-proyectos__div {
        width: 80vw;
        height: 55vh;
    }

    /* contenedor de los proyectos realizados */
    /* efecto direcction hover */
    .container {
        width: 100%;
        margin: 50px auto;
    }

    .items__list {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }

    .items__list> :nth-child(2n-1) {
        justify-self: end;
        /* alinea a la derecha en la primera columna */
    }

    .items__list> :nth-child(2n) {
        justify-self: start;
        /* alinea a la izquierda en la segunda columna */
    }

    .carrusel {
        position: relative;
        width: 50%;
        height: 70vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carrusel-items {
        display: flex;
        transition: transform 0.5s ease;
        width: 100%;
    }

    .slide {
        min-width: 100%;
        text-align: center;
        padding: 1em;
        box-sizing: border-box;
        font-family: monospace;
    }

    .slide img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        aspect-ratio: 1/1;
    }

    .slide a {
        display: block;
        margin-top: 1em;
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 3em;
        color: white;
    }

    .carrusel-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: #A82272;
        color: white;
        border: none;
        padding: 0.5em 1em;
        font-size: 1em;
        cursor: pointer;
        z-index: 2;
        border-radius: 10px;
        opacity: 0.8;
    }

    .carrusel-btn:hover {
        background: #DB0085;
        opacity: 1;
    }

    .carrusel-btn.prev {
        left: 10px;
    }

    .carrusel-btn.next {
        right: 10px;
    }

    /* pie de pagina web */


    footer {
        height: 100%;
        width: 100%;
        border: 2px solid #33292F;
        background-color: #33292F;
        color: white;
        text-align: center;
        padding: 20px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .sobre-nosotros {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: monospace;
        font-size: 1em;
        padding: 2em;
    }

    .sobre-nosotros h3 {
        font-size: 2.5em;
        padding: 1em;
    }

    .sobre-nosotros p {
        font-size: 1.5em;
        text-align: center;
        line-height: 2;
        padding: 1em;
    }

    .enlaces {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .enlaces ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .enlaces ul li {
        background: #007bff;
        padding: 1em;
        border-radius: 5px;
    }

    .enlaces li:hover {
        background-color: #A82272;
    }


    .enlaces ul li a {
        font-family: monospace;
        font-size: 2em;
        text-decoration: none;
        color: white;
        font-weight: bold;
        display: block;

        width: 100%;
        height: 100%;
        margin: auto;
    }

    .contactos {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2em;
        font-family: monospace;
        font-size: 2em;
        gap: 1em;
    }

    .contactos__lista {
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .contactos__lista-item a span {
        display: block;
        width: 75%;
        text-align: end;

    }

    .contactos__lista-item a {
        width: 210px;
        height: 80px;
        display: block;
        flex-direction: row;
        justify-content: space-around;
        align-items: normal;
        gap: 1em;
    }

    .card__body ul {
        list-style: none;
        font-family: monospace;
        text-align: center;
        font-size: 2em;
    }

    .fa-brands {
        font-size: 30px;
    }

    .contactos__lista-item a span {
        font-size: 20px;
    }


}