@media screen and (min-width: 768px) {
    .header-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding: 2rem 0rem;
    }

    .menu-toggle {
        display: none;
    }

    .navbar {
        width: 100%;
        height: 5dvh;
        display: flex;
    }

    .navbar-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        font-family: monospace;
        text-align: center;
    }

    .navbar-list li {
        width: 100%;
    }

    .hover-underline {
        font-size: clamp(1rem, 3vw, 3rem);
    }

    /* estilos para el contenido principal */
    .presentacion {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        gap: 2em;
        padding: 1em;
    }

    .presentacion img {
        width: 75%;
        height: auto;
        border: 3px solid #A82272;
        border-radius: 200px 50px 200px 200px;
        padding: 0;
    }

    #presentacion__texto {
        text-align: center;
        letter-spacing: 2px;
        line-height: 2;
        font-size: 1em;
    }

    .items {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .card {
        width: 50%;
        height: 72dvh;
    }

    .card__body {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card__body h3 {
        font-size: clamp(1rem, 2vw, 3rem);
    }

    .card__body ul {
        list-style: none;
        font-family: monospace;
        text-align: center;
    }

    .card__body ul li {
        list-style: none;
        font-family: monospace;
        text-align: center;
        font-size: 1em;
    }

    .carrusel-servicios {
        height: 90%;
    }

    /* efecto direcction hover */
    .container {
        width: 100%;
        margin: 50px auto;
    }

    .items__list {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }

    .items__list> :nth-child(2n-1) {
        justify-self: end;
        /* alinea a la derecha en la primera columna */
    }

    .items__list> :nth-child(2n) {
        justify-self: start;
        /* alinea a la izquierda en la segunda columna */
    }

    /* carrusel para los proyectos */
    .carrusel {
        width: 50%;
    }

    .contactos__lista {
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

    .contactos__lista-item a {
        width: 100px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contactos__lista-item a span {
        display: none;
    }

    .carrusel-btn.prev {
        position: absolute;
        left: -10px;
    }

    .carrusel-btn.next {
        position: absolute;
        right: -10px;
    }
}