:root {
  --primary: #04B08C;
  --secondary: #6D5D8E;
  --dark: #212122;
  --light: #F3F3F3;
}

.card {
  padding: 1em;
  width: 90%;
  height: 500px;
}

.visible {
  animation: blur-in 1s linear both
}

@keyframes blur-in {
  0% {
    filter: blur(12px);
    opacity: 0
  }

  100% {
    filter: blur(0);
    opacity: 1
  }
}


.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__face--front img {
  border-radius: 25px;
  width: 100%;
  height: auto;
  padding: 1em;
}

.card__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.card__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__header {
  position: relative;
  padding: 30px 30px 40px;
  height: 20%;
}

.card__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 0 0 50% 0;
  background-image: linear-gradient(to bottom right, var(--primary) 10%, var(--secondary) 115%);
}

.card__header img {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: #FFF;
  border: 5px solid #FFF;
  object-fit: cover;
}

.card__body {
  position: relative;
  width: 100%;
  height: 70%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
}