@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.contactos__lista{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 3em;
}
.contactos__lista-item{
  list-style: none;
  margin: 0 5px;
}
.fa-brands{
  color: #262626;
  font-size: 15px;
  line-height: 80px;
  transition: .5s;
  padding-right: 14px;
}
.contactos__lista-item a{
  width: 150px;
  height: 80px;
  background: #fff;
  text-decoration: none;
  display: block;
  justify-content: center;
  align-items: center400;
  text-align: left;
  font-size: 0.5em;
  padding-left: 20px;
  transform: rotate(-30deg)skew(25deg)translate(0, 0);
  box-shadow: -20px 20px 10px #00000080;
}
.contactos__lista-item a span{
  color: #262626;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  letter-spacing: 4px;
  transition: .5s;
  font-size: 12px;
}
.contactos__lista-item a:before{
  content: '';
  position: absolute;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  top: 10px;
  left: -20px;
  transform: rotate(0deg) skewY(-45deg);
}
.contactos__lista-item a:after{
  content: '';
  position: absolute;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  bottom: -20px;
  left: -10px;
  transform: rotate(0deg) skew(-45deg);
}
.contactos__lista-item a:hover{
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px #00000080;
}
.contactos__lista-item:hover .fa-brands,
.contactos__lista-item:hover span{
  color: #fff;
}
.contactos__lista-item:hover:nth-child(1){
  & a{
    background: #3B5998;
    &::before{
      background: #365492;
    }
    &::after{
      background: #4a69ad;
    }
  }
}
.contactos__lista-item:hover:nth-child(2){
  & a{
    background: #e4405f;
    &::before{
      background: #d81c3f;
    }
    &::after{
      background: #e46880;
    }
  }
}
.contactos__lista-item:hover:nth-child(3){
  & a{
    background: #dd4b39;
    &::before{
      background: #b33a2b;
    }
    &::after{
      background: #b33a2b;
    }
  }
}
.contactos__lista-item:hover:nth-child(4){
  & a{
    background: #e4405f;
    &::before{
      background: #d81c3f;
    }
    &::after{
      background: #e46880;
    }
  }
}