.presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 2em;
  text-align: center;
  background: url(/assets/img/banners/escritorio.webp) no-repeat bottom center / 200% 200%;
  padding: 3rem 0rem;

}

/* presentacion de la pagina web */
.presentacion img {
  width: 90%;
  height: 100%;
  border-radius: 150px 50px 150px 50px;
  padding: 2em;
}

#presentacion__texto {
  width: clamp(50%,90%,120%);
  text-align: center;
  letter-spacing: 2px;
  line-height: 2rem;
  font-family: monospace;
  font-size: 1.5em;
  color: white;
  text-shadow:
    black 1px 1px,
    #F500A9 -1px 1px;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}